
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/adminhome/style.css">

	<title>AdminHub</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<style>
	#myChart {
	width: 0px;
	height: 0px;
  }
</style>

  
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="category">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Category</span>
				</a>
			</li>
			<li>
				<a href="products">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="user">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">User management</span>
				</a>
			</li>
			<li>
				<a href="order">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">order management</span>
				</a>
			</li>
			<li>
				<a href="/admin/banners">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Banner management</span>
				</a>
			</li>
			<li>
				<a href="/admin/coupon">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Coupon management</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			
			<li>
				<a href="/admin/adminlogout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="salesReport" class="btn-download">
					
					<span class="text">Sales report</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3><%= orderData.length %></h3>
						<p>Total orders</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3><%= users.length %></h3>
						<p>Total users</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>₹ <%=sum%></h3>
						<p>Total Sales</p>
					</span>
				</li>
				<li>
					<i class='bx bx-shopping-bag' ></i>
					<span class="text">
						<h3><%=products.length%></h3>
						<p>Products</p>
					</span>
				</li>
	
			</ul>

			
			<div class="table-data">
				
             <div class="order"  style="display: flex; justify-content: center;
			  height: 500px; width: 500px;">
			<div ><h4> Category Wise Sales </h4><br>
          <canvas id="myChart" width="400" height="400" style="display: block; width: 400px; height: 400px;"></canvas>
           

				</div>


             </div>
			 <div class="order"  style="display: flex; justify-content: center;
			 height: 500px; width: 500px;">
			<div ><h4> 	Week Wise Sales </h4><br>
          
           <canvas id="barChart" style="width: 500px; height: 415px;" ></canvas>

				</div>


             </div>
             </div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Orders</h3>
						
					</div>
					<table id="orderTable">
						<thead>
							<tr>
								<th>User</th>
								<th>Date Order</th>
								
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% for(i=0;i<orderData.length;i++){ %>
							<tr>
								<td>
									
									<p><%= orderData[i].customer.name %></p>
								</td>
								<td><%= orderData[i].createdDate.toLocaleString() %></td>
								
								<% if(orderData[i].status==='Placed'||orderData[i].status==='Shipped'||orderData[i].status==='Out-for-delivery'){%>
								<td><span class="status placed"><%= orderData[i].status %></span></td>
								<% }else if(orderData[i].status==='Cancelled') {%>
									<td><span class="status Cancelled"><%= orderData[i].status %></span></td>
									<% }else if(orderData[i].status==='Delivered') {%>
										<td><span class="status Delivered"><%= orderData[i].status %></span></td>
										<% }else{ %>
											<td><span class="status Returned"><%= orderData[i].status %></span></td>
											<% } %>

											

							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			
				
                
			</div>	
			<input type="hidden" value="<%=circular%>" id="circularChart" >
			<input type="hidden" id="days" value="<%=days%>">
			<input type="hidden" id="totals" value="<%=totals%>">
			
			
			

		
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	
	<script>


		const category = document.getElementById("circularChart").value.split(',').map(Number)
		// Set up data for the pie chart
const data = {
  labels: ['Shirt', 'Tshirt'],
  datasets: [{
    label: 'Sales by Category',
    data: [category[0],category[1]],
    backgroundColor: [
      'rgba(255, 99, 132, 0.5)',
      'rgba(54, 162, 235, 0.5)',
      'rgba(255, 206, 86, 0.5)'
    ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)'
    ],
    borderWidth: 1
  }]
};

// Create the pie chart
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
  type: 'pie',
  data: data,
  options: {}
});

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
	var ctxB = document.getElementById("barChart").getContext('2d');
		var days = document.getElementById('days');
		days = days.value
		var totals = document.getElementById('totals').value;
		const daysArray = JSON.parse(days);
		const totalsArray = JSON.parse(totals);
	
	var barColors = ["orange", "orange","orange","orange","orange","orange","orange"];
	
	new Chart("barChart", {
	  type: "bar",
	  data: {
		labels:  daysArray,
		datasets: [{
		  backgroundColor: barColors,
		  data: totalsArray
		}]
	  },
	  options: {
		legend: {display: false},
		title: {
		  display: true,
		  text: "Week wise sales"
		}
	  }
	});
	</script>
<!-- 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);


const categoryWise = document.getElementById("circularChart").value.split(',').map(Number)
console.log(categoryWise,"cat")
// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Football', 'Hours per Day'],
  ['Gym', categoryWise[0]],
  ['Running',categoryWise[1]],
  ['Cricket', categoryWise[2]],
  
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Category Wise Sales', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script> -->
		
	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" >
	<!-- Adding jquery cdn -->
	<script src="https://code.jquery.com/jquery-3.5.1.js">
		
	</script>
	<!-- Adding datatable cdn -->
	<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

	<script>
		$(document).ready(function () {
      $('#orderTable').DataTable();
        });
	</script>
   



	

	<script src="/adminhome/script.js"></script>
</body>
</html>