
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    />
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/adminhome/style.css">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="category">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Category</span>
				</a>
			</li>
			<li>
				<a href="products">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="user">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">User management</span>
				</a>
			</li>
			<li>
				<a href="order">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">order management</span>
				</a>
			</li>
			<li>
				<a href="/admin/banners">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Banner management</span>
				</a>
			</li>
			<li>
				<a href="/admin/coupon">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Coupon management</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			
			<li>
				<a href="/admin/adminlogout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Sales Analytics</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="/admin/home">Home</a>
						</li>
					</ul>
				</div>
				
					<div class="table-data " >
				<div class="order ">
					<!-- id="sales" -->
								
										<form class="form-inline" action="salesReport-pdf"  method="post"  >
											<div class="row d-flex justify-content-between">
												<div class="col-md-3">
													<div class="form-group">
														<label  for="from">From</label>	<input class="form-control" id="from" name="start" style="border: solid 2px;" type="date" required> 
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label  for="to">To</label>	<input class="form-control" id="to" name="end" style="border: solid 2px;" type="date" required> 
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
													<label for="btn"></label>  <button id="btn" onclick="dateFilter()" class="btn btn-primary rounded-pill my-4" type="submit">Submit</button>
													<label for="btn1"></label>  <button id="btn1" class="btn btn-primary rounded-pill my-4" type="submit">Download pdf</button>
													
													 
													
													</div>
												</div>
											</div>
											
										</form>
									</div>
							
						
						
					</div>
				</div>
			<!-- </div>
		</div>
			</div> -->
			
		

			<div class="table-data">
				<div class="order">
					<div>
						<h4 id="totalSales">Total Sales:     ₹ <%= sum %></h4>
                	</div>

					
					<table id="orderTable">
						<thead>
							<tr>
								
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			
				
                
			</div>	


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Orders</h3>
						
					</div>
					<table >
						<thead>
							<tr>
								<th>User</th>
								<th>Date Order</th>
								<th>product</th>
								<th>total Price</th>
								<th>payment Method</th>
							</tr>
						</thead>
						<tbody id="tableBody">
							<% for(i=0;i<orderSuccess.length;i++){ %>
                                <tr>
                                    <td>
                                        
                                        <p><%=orderSuccess[i].customer.name %></p>
                                    </td>
                                    <td><%= orderSuccess[i].createdDate.toLocaleString() %></td>
									<td><% for(let j = 0;j < orderSuccess[i].products.length;j++){ %>
										<%= orderSuccess[i].products[j].productId.name %> x <%= orderSuccess[i].products[j].quantity %>
									   <br>
									  <% } %></td>
									<td><%= orderSuccess[i].totalPrice %></td>
									<td><%= orderSuccess[i].paymentMethod %></td>
								<% } %>
						</tbody>
					</table>
			 </div>
		</div>
		
                
			
			
		</main>
		<!-- MAIN -->
</section>
	<!-- CONTENT -->
	
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>	
	
<script>
	// $('#sales').submit((e)=>{
	//  e.preventDefault()
	//  $.ajax({
	// 	url:'/admin/SalesFilter',
	// 	data:$('#sales').serialize(),
	// 	method:'post',
	// 	success:(jsonresponse)=>{
	// 		alert(jsonresponse.orderData.length)
    //         let html=''
	// 		for(let i=0;i<jsonresponse.orderData.length;i++){
	// 	   html +=	`
		   
	// 				<tr>
    //            <td> <p>${jsonresponse.orderData[i].customer.name }</p  </td>
    //            <td>${jsonresponse.orderData[i].createdDate.toLocaleString() }</td>
    //            <td>${jsonresponse.orderData[i].totalPrice }</td>
	// 		   <td>${jsonresponse.orderData[i].paymentMethod }</td>
    //                  </tr>`
	// 		}
	// 				$('#tableBody').html(html)
	// 				document.getElementById('totalSales').innerHTML="Total Sales:     ₹ "+ jsonresponse.sum
	// 			}
				
				
	// 	,
	// 	error:()=>{
	// 		alert("rooro")
	// 	}
		
		
	//  })
	// })

	function dateFilter(){
		event.preventDefault()
		const fromInput = document.getElementById("from").value
		const toInput = document.getElementById("to").value
		$.ajax({
				url: '/admin/SalesFilter',
				method: 'post',
				data: {
					fromInput: fromInput,
					toInput: toInput
				},
				success:(jsonresponse)=>{
			
            let html=''
			for(let i=0;i<jsonresponse.orderData.length;i++){
		   html +=	`
		   
					<tr>
               <td> <p>${jsonresponse.orderData[i].customer.name }</p  </td>
               <td>${jsonresponse.orderData[i].createdDate.toLocaleString() }</td>
               <td>${jsonresponse.orderData[i].totalPrice }</td>
			   <td>${jsonresponse.orderData[i].paymentMethod }</td>
                     </tr>`
			}
					$('#tableBody').html(html)
					document.getElementById('totalSales').innerHTML="Total Sales:     ₹ "+ jsonresponse.sum
				}
				
				
		,
		error:()=>{
			alert("rooro")
		}})


	}
</script>

	<script src="/adminhome/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>