  
  <%- include("../layouts/userHeader") %>
         <!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="./login.ejs">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="#"><h2 style="color: black;text-decoration: double; ">MEN SPACE</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li ><a href="/">Home</a></li>
                            <li ><a href="shop">Shop</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul> -->
                            <!-- </li> -->
                           
                          
                            
                           
                            
                             
                            <% if(typeof userData === 'undefined') { %>
                        
                           <li> <a href="login"><button  type="button" class="btn btn-outline-dark">sign in</button> </a></li>
    
                            <li> <a href="register"> <button type="button" class="btn btn-outline-dark ">sign up</button> </a> </li>
                              
                            <% } else { %>
    
    
    
                                <li><a href="#">Accounts</a>
                                    <ul class="dropdown">
                                        <li><a href="/userProfile">profile</a></li>
                                        <li><a href="/orders">orders</a></li>    
                                    </ul>
                                </li>
    
                           <li>    <a href="logout"><button  type="button" class="btn btn-outline-dark">Log Out</button> </a></li> 
                           
                            
                        </ul>
                        
                        
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option ">
                        <a href="#" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
                        <a href="wishList"><img src="/images/icon/heart.png" alt=""></a>
                        <a href="cartPage"><img src="/images/icon/cart.png" alt=""> <span><%= count %></span></a>
                       
                    </div>
                    
                </div>
               
                    
    
                <% } %> 
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Shopping Cart Section Begin -->

<% if(count != 0){ %>
    <section class="shopping-cart spad" >

    
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr >
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >
                           
                     <% if(cartProducts.length>0){ %>           
                  <% for(i=0;i<cartProducts.length;i++) { %>
                  
                    <tr id="a<%=  products[i]._id %>">   
                                <td class="product__cart__item"  >
                                    <div class="product__cart__item__pic">
                                        <img width="100px" height="100px" src="/imagess/<%=products[i].image[0]%>" alt="<%= products[i].image[0] %>">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6><%=  products[i].name %></h6>
                                        

                                        
                                        <h5><%=  products[i].price %> </h5>
                                    </div>
                                </td>
                                
                               
                                
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="">
                                            <button class="cart-item-count mr-3 " id="minus"
                      onclick="changeQuantity('<%=userCart._id%>','<%=products[i]._id%>',-1)">-</button>
                    <span id="<%=products[i]._id%>"><%=cartProducts[i].quantity%>
                        <input type="hidden" value="<%=cartProducts[i].quantity%>" id="quantitynum">
                  </span><button class="cart-item-count ml-3"
                      onclick="changeQuantity('<%=userCart._id%>','<%=products[i]._id%>',1)">+</button>
                                            

                                            
                                        </div>
                                    </div>
                                </td>
                               
                                  <td class="cart__price" id='he<%=products[i]._id%>'> ₹<%=  products[i].price * cartProducts[i].quantity%> </td>
                                  <h1 id='prod'></h1>
                                  <h1 id='qnt'></h1>
                                  
                                   
                              
                                <td> <button class="btn-danger" onclick="deleteFromCart('<%=products[i]._id %>')">remove</button></td>
                              </div>
                            </tr>
                        </section>
                            
                <% } %>               
                         
                        </tbody>
                    </table>
                </div>
                <div class="row" >
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="shop">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        
                        <li>Total <span id="price">₹<%=userCart.totalprice%> </span></li>
                        
                    </ul>
                    <a href="checkout" class="primary-btn">Proceed to checkout</a>
                        
                        
                </div>
                
            </div>
        </div>
    </div>



 <% }else { %>
    <div class="container-fluid  mt-100">
        <div class="row">
        
           <div class="col-md-12">
           
                   <div class="card">
              
               <div class="card-body cart">
                       <div class="col-sm-12 empty-cart-cls text-center">
                           <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                           <h3><strong>Your Cart is Empty</strong></h3>
                           <h4>Add something to make me happy :)</h4>
                           <a href="shop" class="btn btn-dark cart-btn-transform m-3" data-abc="true">continue shopping</a>
                         
                       
                       </div>
               </div>
       </div>
               
           
           </div>
        
        </div>
       
       </div>
    <% } %>
    <% } %>
    


<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><h2 style="color:azure;text-decoration: double; ">MEN SPACE</h2></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T shirts</a></li>
                        <li><a href="#">Shoes</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
<script>

    function changeQuantity(cartId, proId, count) {
      
      let quantity = parseInt(document.getElementById(proId).innerHTML)
       count=parseInt(count)
  // Prevent quantity from going below zero
  if (count < 0 && quantity === 1) {
    return; // Exit the function if quantity is already zero and count is negative
  } 
      $.ajax({
        url: '/change-product-quantity',
        data: {
          cart: cartId,
          product: proId,
          count: count,
          quantity:quantity,
        },
        method: 'post',
        success: (response) => {
           document.getElementById(proId).innerHTML=response.updatedQuantity 
           document.getElementById('price').innerHTML= '₹'+response.totalPrice
           document.getElementById('he'+proId).innerHTML ='₹'+ response.totalprice
         
        }
      })
    }


    function deleteFromCart(productDelete){
        $.ajax({
            
            url:'/remove-product?id='+productDelete,
            method:'get',
            success: function(jsonresponse)
    {  
               document.getElementById('a'+productDelete).innerHTML=''
               document.getElementById('price').innerHTML=jsonresponse.cartTotal
    },
        error: function(error) 
        {
            console.log('Error deleting product:', error);
        }
             })
    }
   
  </script>
<%- include("../layouts/userFooter") %>
