

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
    " rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

<!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <!-- <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="./login.ejs">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> -->
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="#"><h2 style="color: black;text-decoration: double; ">MEN SPACE</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" id="html1">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li ><a href="/">Home</a></li>
                            <li class="active"><a href="#">Shop</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul> -->
                            <!-- </li> -->
                           
                          
                            
                           
                            
                             
                              
                            <% if( userData ) { %>
                        
                                <li><a href="#">Accounts</a>
                                    <ul class="dropdown">
                                        <li><a href="/userProfile">profile</a></li>
                                        <li><a href="/orders">orders</a></li>    
                                    </ul>
                                </li>

                           <li>    <a href="logout"><button  type="button" class="btn btn-outline-dark">Log Out</button> </a></li> 
                           
                            
                        </ul>
                        
                        
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                    
                       
                        <a href="wishList"><img  src="/images/icon/heart.png" alt=""><span  class="badge-light"></span></a>
                        <a href="cartPage"><img src="/images/icon/cart.png" alt=""> <span class="badge-light"></span></a> 
                      
                      
                       
                    </div>
                    
                </div>
               
                              
                            <% } else { %>


                                <li> <a href="login"><button  type="button" class="btn btn-outline-dark">sign in</button> </a></li>

                                <li> <a href="register"> <button type="button" class="btn btn-outline-dark ">sign up</button> </a> </li>

                <% } %>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="search" name="search" id="searchField"  placeholder="Search">
                            </form>
                        </div>
                        
                        <div class="shop__sidebar__accordion">
                            <div class="accordion"  id="filter" >
                                <!-- id=" accordionExample" -->
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <%if(categorylist.length> 0){%>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% for(content of categorylist) {%>
                                                        <li>
                                                            <a href=""  class="category_fliter" data-category="<%=content._id%>"><%= content.name %></a>
                                                           
                                                        <% } %> 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                </div>

                                
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                  
                                    <select id="sort" name="sort" class="">
                                        <option value="low-to-high"> Low to High</option>
                                        <option value="high-to-low"> High to Low</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                   <div class="row" id="product">
                   <% if (productList.length > 0) {%>
                    <% for(let content of productList) { %>
                        <% if(content.stock>0){ %>
                        <div class="col-lg-4 col-md-6 col-sm-6"  >
                            <div class="product__item">
                               <div class="product__item__pic"   id='product-image' style="width: 220px;">
                                <img src="/imagess/<%= content.image[0] %>" alt="" style="height:100%;width: 90%;">
                                <ul class="product__hover">
                                    <li><a href="" onclick="addToWishlist('<%=content._id%>')"><img src="/images/icon/heart.png" alt="" > <span>Add to wishlist</span></a></li>
                                    <li><a href=""><img src="/images/icon/compare.png" alt=""> <span>Add to cart</span></a>
                                    </li>
                                   
                                </ul>
                                </div>
                                
                                



                                <div class="product__item__text">
                                    <h6><%= content.name %></h6>
                                    <h6><%= content.discription %></h6>
                                    
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5><%= content.price %></h5>
                                    <a href="/product-detail?id=<%= content._id  %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= content.name %>
                                   </a> 
                                   
                                   
                                   

                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }else{ %>
                            
                             <div class="col-lg-4 col-md-6 col-sm-6" >
                            <div class="product__item">
                                <div class="product__item__pic"   id='product-image' style="width: 220px;">
                                <img src="/imagess/<%= content.image[0] %>" alt="" style="width: 100%; height: 100%; object-fit: contain;">
                                    <ul class="product__hover">
                                        <li><a href="" onclick="addToWishlist('<%=content._id%>')" ><img src="/images/icon/heart.png" alt="" > <span>Add to wishlist</span></a></li>
                                        <li><a href=""><img src="/images/icon/compare.png" alt=""> <span>Add to cart</span></a>
                                        </li>
                                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div id="mouse-overlay"></div>
                                 <div id="overlay"></div>
                                



                                <div class="product__item__text">
                                    <h6><%= content.name %></h6>
                                    <h6><%= content.discription %></h6>
                                    
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5 style="color: crimson;"> OUT OF STOCK</h5>
                                    <a href="/product-detail?id=<%= content._id  %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= content.name %>
                                   </a> 
                                   
                                   
                                   

                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <% } %>
                         <% } %>
                         <%}%>
                    
 

                        
  

                         

                       
                      
                       
                       
                      
                        </div>
                        
                       
        </div>
    </section>
  

     <!-- Footer Section Begin  -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><h2 style="color:azure;text-decoration: double; ">MEN SPACE</h2></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6 >Shopping</h6>
                        <ul>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">T shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
  

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
   
  
    <script>
    function addToWishlist(proId){
       
        event.preventDefault()
        $.ajax({
              url:'/add-to-wislist',
              data:{
               proId:proId
              },
              method:'POST',
              success: function (response){
             
           if(response.success){
            Swal.fire({
               position: 'top',
                icon: 'success',
                 title: 'Product added to wishlist',
                showConfirmButton: false,
               timer: 1500
                     })
           }else{
            Swal.fire({
               position: 'top',
                icon: 'success',
                 title: 'Already added',
                showConfirmButton: false,
               timer: 1500
                     })
           }
              }

        })

   }

   var selectedValue;
   var  searchValue;

   // sort Products
          const sortSelect = document.getElementById('sort');
            sortSelect.addEventListener('change', (event) => {
             selectedValue = event.target.value;
          toAjax()
        });


        // searching the products
        const searchInput = document.querySelector('#searchField')
        searchInput.addEventListener('input', (event) => {
          event.preventDefault()
          const search = event.target.value
          searchValue = search
          toAjax()
        })

        // Filtering the products
        // $('.dropdown-item2').click(function (e) {
        //   e.preventDefault();
        //   categoryId = $(this).data('category');
        //   alert( categoryId)
        //   toAjax()
        // })
        let categoryId

            const categories = document.querySelectorAll('.category_fliter')
            categories.forEach((category)=>{
                category.addEventListener('click',(e)=>{
                    e.preventDefault()
                    categoryId =category.getAttribute('data-category')
                    toAjax()
                })
            })


        function toAjax(){
           
            $.ajax({
            url: '/shop',
            data: { 
              sort: selectedValue,
              search:searchValue,
              isRender: true,
              categoryId
            },
            method: 'get',
            success: (response) => {
                
               
              
              let html = ""
              for(let i=0;i<response.productList.length;i++){
                
                html += `
                <div class="col-lg-4 col-md-6 col-sm-6"  >
                            <div class="product__item">
                                
                                <div class="product__item__pic"   id='product-image' style="width: 220px;">
                                <img src="/imagess/${response.productList[i].image[0]}" alt="" style="width: 100%; height: 100%;">
                                    <ul class="product__hover">
                                        <li><a href="" onclick="addToWishlist('${response.productList[i]._id}')" ><img src="/images/icon/heart.png" alt="" > <span>Add to wishlist</span></a></li>
                                        <li><a href=""><img src="/images/icon/compare.png" alt=""> <span>Add to cart</span></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div id="mouse-overlay"></div>
                                 <div id="overlay"></div>
                                



                                <div class="product__item__text">
                                    <h6>${response.productList[i].name}</h6>
                                    <h6>${response.productList[i].discription}</h6>
                                    
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>${response.productList[i].price}</h5>
                                    <a href="/product-detail?id=${response.productList[i]._id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        ${response.productList[i].name}
                                   </a> 
                                   
                                   
                                   

                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        `
              }

              document.getElementById('product').innerHTML = html
            }
            })
        }
</script>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.nice-select.min.js"></script>
      <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <!-- <script src="js/jquery.slicknav.js"></script> -->
    <!-- <script src="js/mixitup.min.js"></script> -->
    <!-- <script src="js/owl.carousel.min.js"></script> -->
    <script src="js/main.js"></script> 
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>

</html>

