<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
  
                        .card-stepper {
                            z-index: 0
                        }

                        #progressbar-2 {
                            color: #455A64;
                        }

                        #progressbar-2 li {
                            list-style-type: none;
                            font-size: 13px;
                            width: 33.33%;
                            float: left;
                            position: relative;
                        }

                        #progressbar-2 #step1:before {
                            content: '\f058';
                            font-family: "Font Awesome 5 Free";
                            color: #fff;
                            width: 37px;
                            margin-left: 0px;
                            padding-left: 0px;
                        }

                        #progressbar-2 #step2:before {
                            content: '\f058';
                            font-family: "Font Awesome 5 Free";
                            color: #fff;
                            width: 37px;
                        }

                        #progressbar-2 #step3:before {
                            content: '\f058';
                            font-family: "Font Awesome 5 Free";
                            color: #fff;
                            width: 37px;
                            margin-right: 0;
                            text-align: center;
                        }

                        #progressbar-2 #step4:before {
                            content: '\f111';
                            font-family: "Font Awesome 5 Free";
                            color: #fff;
                            width: 37px;
                            margin-right: 0;
                            text-align: center;
                        }

                        #progressbar-2 li:before {
                            line-height: 37px;
                            display: block;
                            font-size: 12px;
                            background: #c5cae9;
                            border-radius: 50%;
                        }

                        #progressbar-2 li:after {
                            content: '';
                            width: 100%;
                            height: 10px;
                            background: #c5cae9;
                            position: absolute;
                            left: 0%;
                            right: 0%;
                            top: 15px;
                            z-index: -1;
                        }

                        #progressbar-2 li:nth-child(1):after {
                            left: 1%;
                            width: 100%
                        }

                        #progressbar-2 li:nth-child(2):after {
                            left: 1%;
                            width: 100%;
                        }

                        #progressbar-2 li:nth-child(3):after {
                            left: 1%;
                            width: 100%;
                        }

                        #progressbar-2 li:nth-child(4) {
                            left: 0;
                            width: 37px;
                        }

                        #progressbar-2 li:nth-child(4):after {
                            left: 0;
                            width: 37px;
                        }

                        #progressbar-2 li.active:before,
                        #progressbar-2 li.dactive:after {
                            background: #6520ff;
                        }
                  
</style>
  <%- include("../layouts/userHeader") %>
  <!-- Page Preloder
<div id="preloder">
 <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
 <div class="offcanvas__option">
     <div class="offcanvas__links">
         <a href="./login.ejs">Sign in</a>
         <a href="#">FAQs</a>
     </div>
     <div class="offcanvas__top__hover">
         <span>Usd <i class="arrow_carrot-down"></i></span>
         <ul>
             <li>USD</li>
             <li>EUR</li>
             <li>USD</li>
         </ul>
     </div>
 </div>
 <div class="offcanvas__nav__option">
     <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
     <a href="#"><img src="img/icon/heart.png" alt=""></a>
     <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
     <div class="price">$0.00</div>
 </div>
 <div id="mobile-menu-wrap"></div>
 <div class="offcanvas__text">
     <p>Free shipping, 30-day return or refund guarantee.</p>
 </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
       
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><h2 style="color: black;text-decoration: double; ">MEN SPACE</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li ><a href="/">Home</a></li>
                        <li><a href="shop">Shop</a></li>
                        <!-- <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul> -->
                        <!-- </li> -->
                       
                      
                        
                       
                        
                         
                        <% if(typeof userData === 'undefined') { %>
                    
                       <li> <a href="login"><button  type="button" class="btn btn-outline-dark">sign in</button> </a></li>

                        <li> <a href="register"> <button type="button" class="btn btn-outline-dark ">sign up</button> </a> </li>
                          
                        <% } else { %>



                            <li ><a href="#">Accounts</a>
                                <ul class="dropdown">
                                    <li><a href="/userProfile">profile</a></li>
                                    <li><a href="/orders">orders</a></li>    
                                </ul>
                            </li>

                       <li>    <a href="logout"><button  type="button" class="btn btn-outline-dark">Log Out</button> </a></li> 
                       
                        
                    </ul>
                    
                    
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
                    <a href="wishList"><img src="/images/icon/heart.png" alt=""></a>
                    <a href="cartPage"><img src="/images/icon/cart.png" alt=""> <span>0</span></a>
                   
                </div>
                
            </div>
           
                

            <% } %> 
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
<div class="container">
 <div class="row">
     <div class="col-lg-12">
         <div class="breadcrumb__text">
             <h4>Order deatils</h4>
             <div class="breadcrumb__links">
                 <a href="./index.html">Home</a>
                 <a href="./shop.html">Orders</a>
                 <span>Order details</span>
             </div>
         </div>
     </div>
 </div>
</div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->

<section class="shopping-cart spad">
<div class="container">
 <div class="row">
     <div class="col-lg-14">
         <div class="shopping__cart__table">
             <table>
                 <thead>
                     <tr>
                         <th>Product</th>
                         <th>quantity</th>
                         <th>price</th>
                         <th>status</th>
                        
                        
                        
                     </tr>
                 </thead>
                 
                 <tbody>
                    <% for(let i=0;i<productData.length;i++){ %>
                     <tr>
                         
           
                         
                         
                            <td class="product__cart__item">
                                <div class="product__cart__item__pic">
                                   <img width="100px" height="100px" src="imagess/<%=productData[i].productId.image[0]%>" alt="">
                                </div>
                                <div class="product__cart__item__text">
                                    <h6><%=productData[i].productId.name%></h6>
                                  
                                   <h6>₹<%=productData[i].sellingPrice%></h6>
                                </div>
                            </td>
                             
                        
                         <td class="product__cart__item "   >
                            <p><%=productData[i].quantity%></p>
                            
                        </td>
                         
                           <td class="product__cart__item" >
                            <p> <%=productData[i].sellingPrice*productData[i].quantity%> </p>
                            </td>
                          
                            <td class="product__cart__item">
                                <p id="cancelValue"><%=orderData.status%></p>
                                
                            </td>
                           
                       
                       
                     </tr>
                     <% } %>
                       
                  
                 </tbody>
                 
             </table>
             <section class="vh-100" >
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-stepper text-black" style="border-radius: 16px;">
                               
                                <div class="card-body p-5">
                                    <% if (orderData.status=="Cancelled" ){ %>
                                        <h2 class="text-danger">Order Canceled </h2>

                                        <ul id="progressbar-2"
                                            class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                            <li class="step0  text-center" id="step1"></li>
                                            <li class="step0  text-center" id="step2"></li>
                                            <li class="step0  text-center" id="step3"></li>
                                            <li class="step0   text-muted text-center" id="step4"></li>
                                        </ul>
                                        <%} else if(orderData.status=="returneProcessing" ) {%>

                                            <h2 class="text-danger"> Return Processing </h2>
                                            <h6>Please Wait for Approvel</h6>
                                            <ul id="progressbar-2"
                                                class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                <li class="step0 active dactive text-center" id="step1"></li>
                                                <li class="step0  active dactive text-center" id="step2"></li>
                                                <li class="step0 active dactive text-center" id="step3"></li>
                                                <li class="step0  active text-muted text-center" id="step4">
                                                </li>
                                            </ul>

                                            <% }else if (orderData.status=="returnApproved" ) {%>
                                                <h2 class="text-success"> Order Returned </h2>
                                                <h6>Please Puchase Again</h6>

                                                <ul id="progressbar-2"
                                                    class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                    <li class="step0 active dactive text-center" id="step1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                            height="25" fill="red" class="bi bi-x"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>
                                                    </li>


                                                    <li class="step0  active dactive text-center" id="step2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                            height="25" fill="red" class="bi bi-x"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>

                                                    </li>
                                                    <li class="step0 active dactive text-center" id="step3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                            height="25" fill="red" class="bi bi-x"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>

                                                    </li>
                                                    <li class="step0  active text-muted text-center" id="step4">
                                                    </li>
                                                </ul>
                                                <% }else if (orderData.status=="returnRejucted" ) {%>
                                                    <h2 class="text-danger"> Return Rejucted </h2>
                                                    <h6></h6>
                                                    <ul id="progressbar-2"
                                                        class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                        <li class="step0 active dactive text-center" id="step1">
                                                        </li>
                                                        <li class="step0  active dactive text-center"
                                                            id="step2"></li>
                                                        <li class="step0 active dactive text-center" id="step3">
                                                        </li>
                                                        <li class="step0  active text-muted text-center"
                                                            id="step4"></li>
                                                    </ul>
                                                    <% }else if(orderData.status=="Placed" ) { %>
                                                        <ul id="progressbar-2"
                                                            class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                            <li class="step0 active dactive text-center"
                                                                id="step1"></li>
                                                            <li class="step0  text-center" id="step2"></li>
                                                            <li class="step0  text-center" id="step3"></li>
                                                            <li class="step0   text-muted text-center"
                                                                id="step4"></li>
                                                        </ul>
                                                        
                                                        <%} else if (orderData.status=="Shipped" ) { %>
                                                            <ul id="progressbar-2"
                                                                class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                                <li class="step0 active dactive text-center"
                                                                    id="step1"></li>
                                                                <li class="step0  active dactive text-center"
                                                                    id="step2"></li>
                                                                <li class="step0  text-center" id="step3"></li>
                                                                <li class="step0   text-muted text-center"
                                                                    id="step4"></li>
                                                            </ul>
                                                            <%} else if (orderData.status=="Out-for-delivery" ) {%>
                                                                <ul id="progressbar-2"
                                                                    class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                                    <li class="step0 active dactive text-center"
                                                                        id="step1"></li>
                                                                    <li class="step0  active dactive text-center"
                                                                        id="step2"></li>
                                                                    <li class="step0 active dactive text-center"
                                                                        id="step3"></li>
                                                                    <li class="step0   text-muted text-center"
                                                                        id="step4"></li>
                                                                </ul>
                                                                <%} else if (orderData.status=="Delivered" ) {%>
                                                                    <ul id="progressbar-2"
                                                                        class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                                                        <li class="step0 active dactive text-center"
                                                                            id="step1"></li>
                                                                        <li class="step0  active dactive text-center"
                                                                            id="step2"></li>
                                                                        <li class="step0 active dactive text-center"
                                                                            id="step3"></li>
                                                                        <li class="step0  active text-muted text-center"
                                                                            id="step4"></li>
                                                                    </ul>
                                                                    <%}%>


                                                                        <div
                                                                            class="d-flex justify-content-between">
                                                                            <div
                                                                                class="d-lg-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="25" height="25"
                                                                                    fill="currentColor"
                                                                                    class="bi bi-clipboard-check"
                                                                                    viewBox="0 0 16 16">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                                                    <path
                                                                                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                                                    <path
                                                                                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                                                                </svg>

                                                                                <div class="pl-3">
                                                                                    <p class="fw-bold mb-1">
                                                                                        Order</p>
                                                                                    <p class="fw-bold mb-0">
                                                                                        Processed</p>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="d-lg-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="25" height="25"
                                                                                    fill="currentColor"
                                                                                    class="bi bi-box"
                                                                                    viewBox="0 0 16 16">
                                                                                    <path
                                                                                        d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                                                                                </svg>
                                                                                <div class="pl-3">
                                                                                    <p class="fw-bold mb-1">
                                                                                        Order</p>
                                                                                    <p class="fw-bold mb-0">
                                                                                        Shipped</p>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="d-lg-flex align-items-center">
                                                                                <!-- <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i> -->
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="25" height="25"
                                                                                    fill="currentColor"
                                                                                    class="bi bi-truck"
                                                                                    viewBox="0 0 16 16">
                                                                                    <path
                                                                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                                                                </svg>
                                                                                <div class="pl-3">
                                                                                    <p class="fw-bold mb-1">Out
                                                                                    </p>
                                                                                    <p class="fw-bold mb-0">Of
                                                                                        Delivery</p>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="d-lg-flex align-items-center">


                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="25" height="25"
                                                                                    fill="currentColor"
                                                                                    class="bi bi-house"
                                                                                    viewBox="0 0 16 16">
                                                                                    <path
                                                                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                                                                </svg>

                                                                                <div class="pl-3">
                                                                                    <p class="fw-bold mb-1">
                                                                                        Order</p>
                                                                                    <p class="fw-bold mb-0">
                                                                                        Arrived</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                </div>

                            </div>
                            <%if(orderData.status=="Placed" || orderData.status=="Shipped" ||
                                orderData.status=="Out-for-delivery" ) {%>
                                <div class="d-flex justify-content-center mt-3">


                                    <button class="btn btn-outline-danger" id="Cancelbtn" onclick="showPopup()">Cancel
                                        Order</button>

                                    <div id="popup" style="display:none;">
                                        <input type="text" id="cancelReason" required>
                                        <button onclick="orderCancel('<%=orderData._id%>')">submit</button>
                                    </div>


                                </div>


                                <%} else if(orderData.status=="Delivered" ) { %>
                                    <div class="d-flex justify-content-center mt-3">




                                        <button class="btn btn-outline-danger"   onclick="showPopup()">Return
                                            Order</button>


                                        <div class="ml-5">
                                            <div id="popup" style="display:none;">
                                                <br>
                                                <div class="w-50 h-100">
                                                    <input type="text" id="returnReason"
                                                        placeholder="Plese enter the Reason of Return" required>
                                                    <button class="mt-4" onclick="orderReturn('<%=orderData._id%>')">
                                                        submit</button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <%}%>
                        </div>
                    </div>
                </div>
          
     
         <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-6">
                 <div class="continue__btn">
                     <a href="orders">Back to orders</a>
                 </div>
             </div>
             
         
     </div>
 </div>
</div>
</section>

 

<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
<div class="container">
 <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-6">
         <div class="footer__about">
             <div class="footer__logo">
                 <a href="#"><img src="img/footer-logo.png" alt=""></a>
             </div>
             <p>The customer is at the heart of our unique business model, which includes design.</p>
             <a href="#"><img src="img/payment.png" alt=""></a>
         </div>
     </div>
     <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
         <div class="footer__widget">
             <h6>Shopping</h6>
             <ul>
                 <li><a href="#">Clothing Store</a></li>
                 <li><a href="#">Trending Shoes</a></li>
                 <li><a href="#">Accessories</a></li>
                 <li><a href="#">Sale</a></li>
             </ul>
         </div>
     </div>
     <div class="col-lg-2 col-md-3 col-sm-6">
         <div class="footer__widget">
             <h6>Shopping</h6>
             <ul>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">Payment Methods</a></li>
                 <li><a href="#">Delivary</a></li>
                 <li><a href="#">Return & Exchanges</a></li>
             </ul>
         </div>
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
         <div class="footer__widget">
             <h6>NewLetter</h6>
             <div class="footer__newslatter">
                 <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                 <form action="#">
                     <input type="text" placeholder="Your email">
                     <button type="submit"><span class="icon_mail_alt"></span></button>
                 </form>
             </div>
         </div>
     </div>
 </div>
 <div class="row">
     <div class="col-lg-12 text-center">
         <div class="footer__copyright__text">
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             <p>Copyright ©
                 <script>
                     document.write(new Date().getFullYear());
                 </script>2020
                 All rights reserved | This template is made with <i class="fa fa-heart-o"
                 aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
             </p>
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
         </div>
     </div>
 </div>
</div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
<div class="h-100 d-flex align-items-center justify-content-center">
 <div class="search-close-switch">+</div>
 <form class="search-model-form">
     <input type="text" id="search-input" placeholder="Search here.....">
 </form>
</div>
</div>
<!-- Search End -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>

    function showPopup() {

        document.getElementById("popup").style.display = "block";
        document.getElementById('Cancelbtn').style.display ='none'

    }

    function orderCancel(orderId) {

let reason = document.getElementById('cancelReason').value;

document.getElementById('popup').style.display = 'none';
$.ajax({
    url: '/orderCancel',
    data: {
        orderId: orderId,
        reason: reason,
    },
    method: 'post',
    success: (response) => {
        if(response.success){
        Swal.fire({
           position: 'top',
            icon: 'warning',
             title: 'Your order has Canceled',
            showConfirmButton: false,
           timer: 1500 }) 

           document.getElementById('Cancelbtn').style.display = 'none'
           
           document.getElementById('cancelValue').innerHTML='Cancelled'
    }}
})
}
    </script>

<%- include("../layouts/userFooter") %>