
<%- include("../layouts/userHeader.ejs") %>

   <!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="./login.ejs">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
       
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3">
                  <div class="header__logo">
                      <a href="/"><h2 style="color: black;text-decoration: double; ">MEN SPACE</h2>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <nav class="header__menu mobile-menu">
                      <ul>
                          <li ><a href="/">Home</a></li>
                          <li><a href="shop">Shop</a></li>
                          <!-- <li><a href="#">Pages</a>
                              <ul class="dropdown">
                                  <li><a href="./about.html">About Us</a></li>
                                  <li><a href="./shop-details.html">Shop Details</a></li>
                                  <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                  <li><a href="./checkout.html">Check Out</a></li>
                                  <li><a href="./blog-details.html">Blog Details</a></li>
                              </ul> -->
                          <!-- </li> -->
                         
                        
                          
                         
                          
                           
                          <% if(typeof userData === 'undefined') { %>
                      
                         <li> <a href="login"><button  type="button" class="btn btn-outline-dark">sign in</button> </a></li>
  
                          <li> <a href="register"> <button type="button" class="btn btn-outline-dark ">sign up</button> </a> </li>
                            
                          <% } else { %>
  
  
  
                              <li class="active" ><a href="#">Accounts</a>
                                  <ul class="dropdown">
                                      <li><a href="/userProfile">profile</a></li>
                                      <li><a href="/orders">orders</a></li>    
                                  </ul>
                              </li>
  
                         <li>    <a href="logout"><button  type="button" class="btn btn-outline-dark">Log Out</button> </a></li> 
                         
                          
                      </ul>
                      
                      
                  </nav>
              </div>
              <div class="col-lg-3 col-md-3">
                  <div class="header__nav__option">
                      <a href="" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
                      <a href="wishList"><img src="/images/icon/heart.png" alt=""></a>
                      <a href="cartPage"><img src="/images/icon/cart.png" alt=""> <span>0</span></a>
                     
                  </div>
                  
              </div>
             
                  
  
              <% } %> 
          </div>
          <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
  </header>





















<% if(userData){ %>

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= userData.name %><h5>
              <p class="text-muted mb-1"><%= userData.email %></p>
              <p class="text-muted mb-4"><%= userData.mobile %></p>
              <div class="d-flex justify-content-center mb-2">
                
            <a href="/userEdit">    <button type="button" class="btn btn-outline-primary ms-1">Edit profile</button></a>
            <a href="/manageAddress">    <button type="button" class="btn btn-outline-primary ms-1">Manage Address</button></a>
              </div>
            </div>
          </div>
          <!-- <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div> -->
          <!-- </div> -->
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.mobile %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.Address[0].address %></p>
                </div>
              </div>
             <hr>
             <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Postcode</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.Address[0].postcode %></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">City</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.Address[0].city %></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">State</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= userData.Address[0].state %></p>
                </div>
            </div>
            </div>
          <!-- </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div> -->
  </section>
  <% } %>

  <%- include("../layouts/userFooter.ejs") %>