  
  <%- include("../layouts/userHeader") %>
  <!-- Page Preloder
<div id="preloder">
 <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
 <div class="offcanvas__option">
     <div class="offcanvas__links">
         <a href="./login.ejs">Sign in</a>
         <a href="#">FAQs</a>
     </div>
     <div class="offcanvas__top__hover">
         <span>Usd <i class="arrow_carrot-down"></i></span>
         <ul>
             <li>USD</li>
             <li>EUR</li>
             <li>USD</li>
         </ul>
     </div>
 </div>
 <div class="offcanvas__nav__option">
     <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
     <a href="#"><img src="img/icon/heart.png" alt=""></a>
     <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
     <div class="price">$0.00</div>
 </div>
 <div id="mobile-menu-wrap"></div>
 <div class="offcanvas__text">
     <p>Free shipping, 30-day return or refund guarantee.</p>
 </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
       
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><h2 style="color: black;text-decoration: double; ">MEN SPACE</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li ><a href="/">Home</a></li>
                        <li><a href="shop">Shop</a></li>
                        <!-- <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul> -->
                        <!-- </li> -->
                       
                      
                        
                       
                        
                         
                        <% if(typeof userData === 'undefined') { %>
                    
                       <li> <a href="login"><button  type="button" class="btn btn-outline-dark">sign in</button> </a></li>

                        <li> <a href="register"> <button type="button" class="btn btn-outline-dark ">sign up</button> </a> </li>
                          
                        <% } else { %>



                            <li ><a href="#">Accounts</a>
                                <ul class="dropdown">
                                    <li><a href="/userProfile">profile</a></li>
                                    <li><a href="/orders">orders</a></li>    
                                </ul>
                            </li>

                       <li>    <a href="logout"><button  type="button" class="btn btn-outline-dark">Log Out</button> </a></li> 
                       
                        
                    </ul>
                    
                    
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
                    <a href="wishList"><img src="/images/icon/heart.png" alt=""></a>
                    <a href="cartPage"><img src="/images/icon/cart.png" alt=""> <span>0</span></a>
                   
                </div>
                
            </div>
           
                

            <% } %> 
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
<div class="container">
 <div class="row">
     <div class="col-lg-12">
         <div class="breadcrumb__text">
             <h4>WishList</h4>
             <div class="breadcrumb__links">
                 <a href="./index.html">Home</a>
                 <a href="./shop.html">Shop</a>
                 <span>WishList</span>
             </div>
         </div>
     </div>
 </div>
</div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<% if(user.wishList.length>0) {%>
<section class="shopping-cart spad">
<div class="container">
 <div class="row">
     <div class="col-lg-12">
         <div class="shopping__cart__table">
             <table id="wishlist1">
                 <thead>
                     <tr>
                         <th>Product</th>
                         <th>stock</th>
                         <th>Add to cart</th>
                        
                     </tr>
                 </thead>
                 <% for(let i=0;i<user.wishList.length;i++){
                     %>
                 <tbody>
                     <tr id="a<%=user.wishList[i].productId._id%>">
                         
           
                         
                         <td class="product__cart__item">
                             <div class="product__cart__item__pic">
                                 <img width="100px" height="100px" src="/imagess/<%=user.wishList[i].productId.image[0]%>" alt="">
                                
                             </div>
                             <div class="product__cart__item__text">
                                        <h6><%=  user.wishList[i].productId.name %></h6>
                                        
                                        <h5><%=user.wishList[i].productId.price %> </h5>  
                                        
                                    </div>
                             
                         </td>
                         <td class="product__cart__item">
                            <div class="product__cart__item__pic">
                                <% if (user.wishList[i].productId.stock >0) {%>
                               <h4 style="color: green;"> In stock</h4> 
                               <%}else{%>
                                <h4 style="color: red;"> out of stock</h4>
                                <%}%>
                            
                        </td>
                         
                           <td class="cart__price" >
                           <a href="/add-to-cart?id=<%=user.wishList[i].productId._id %>"> <button type="button" class="btn btn-dark">Add to cart</button></a> </td>
                          
                           
                           
                       <td  class="cart__close"> <a href="/delete-from-wishlist?id=<%=user.wishList[i].productId._id %>" onclick="removeFromWishlist('<%=user.wishList[i].productId._id %>')"  ><i class="fa fa-close"></i></a></td>
                       
                     </tr>
                     
                       
                  
                 </tbody>
                 <%
                }
                 %>
             </table>
         </div>
         <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-6">
                 <div class="continue__btn">
                     <a href="shop">Continue Shopping</a>
                 </div>
             </div>
             
         
     </div>
 </div>
</div>
</section>

 <%}else{%>

<div class="container-fluid  mt-100" >
 <div class="row">
 
    <div class="col-md-12">
    
            <div class="card">
       
        <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center">
                    <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                    <h3><strong>Your Wishlist is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a href="shop" class="btn btn-dark cart-btn-transform m-3" data-abc="true">continue shopping</a>
                  
                
                </div>
        </div>
</div>
        
    
    </div>
 
 </div>

</div>
<%}%>

<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
<div class="container">
 <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-6">
         <div class="footer__about">
             <div class="footer__logo">
                 <a href="#"><img src="img/footer-logo.png" alt=""></a>
             </div>
             <p>The customer is at the heart of our unique business model, which includes design.</p>
             <a href="#"><img src="img/payment.png" alt=""></a>
         </div>
     </div>
     <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
         <div class="footer__widget">
             <h6>Shopping</h6>
             <ul>
                 <li><a href="#">Clothing Store</a></li>
                 <li><a href="#">Trending Shoes</a></li>
                 <li><a href="#">Accessories</a></li>
                 <li><a href="#">Sale</a></li>
             </ul>
         </div>
     </div>
     <div class="col-lg-2 col-md-3 col-sm-6">
         <div class="footer__widget">
             <h6>Shopping</h6>
             <ul>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">Payment Methods</a></li>
                 <li><a href="#">Delivary</a></li>
                 <li><a href="#">Return & Exchanges</a></li>
             </ul>
         </div>
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
         <div class="footer__widget">
             <h6>NewLetter</h6>
             <div class="footer__newslatter">
                 <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                 <form action="#">
                     <input type="text" placeholder="Your email">
                     <button type="submit"><span class="icon_mail_alt"></span></button>
                 </form>
             </div>
         </div>
     </div>
 </div>
 <div class="row">
     <div class="col-lg-12 text-center">
         <div class="footer__copyright__text">
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             <p>Copyright ©
                 <script>
                     document.write(new Date().getFullYear());
                 </script>2020
                 All rights reserved | This template is made with <i class="fa fa-heart-o"
                 aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
             </p>
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
         </div>
     </div>
 </div>
</div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
<div class="h-100 d-flex align-items-center justify-content-center">
 <div class="search-close-switch">+</div>
 <form class="search-model-form">
     <input type="text" id="search-input" placeholder="Search here.....">
 </form>
</div>
</div>
<!-- Search End -->
<script>
   
function removeFromWishlist(proId){
    event.preventDefault()
    $.ajax({
        url:'/delete-from-wishlist',
          data:{
           proId:proId
          },
          method:'POST',
          success:function(response){

            if(response.success){
                
                document.getElementById('a'+proId).innerHTML=''

                if(response.count == 0){
                    html=''
                    html += `<div class="container-fluid  mt-100" >
 <div class="row">
 
    <div class="col-md-12">
    
            <div class="card">
       
        <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center">
                    <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                    <h3><strong>Your Wishlist is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a href="shop" class="btn btn-dark cart-btn-transform m-3" data-abc="true">continue shopping</a>
                  
                
                </div>
        </div>
</div>
        
    
    </div>
 
 </div>

</div>`
document.getElementById('wishlist1').innerHTML = html
                }

            
                Swal.fire({
           position: 'top',
            icon: 'success',
             title: 'Product removed from wishlist',
            showConfirmButton: false,
           timer: 1500 }) 
                 
                
                
            
                   
            }
          }

    })
} 
    
</script>

<%- include("../layouts/userFooter") %>